<div class="container mt-5 mb-0">
    <hr class="theme-text">
</div>
<div id="footer" class="theme-color text-center mt-0" style="height: 7.5rem">
    <div class="container justify-content-center mt-2  align-items-center">
        <div class="row justify-content-center align-items-center">
            <div class="col-6 col-md-4 theme-text">
                This website is developed by <br> <a class="fa-brands fa-linkedin me-2 linkedin"
                           href="https://tr.linkedin.com/in/sezaiemrekonuk"></a><a href="https://tr.linkedin.com/in/sezaiemrekonuk" class="footerdev">Sezai Emre Konuk</a>
            </div>
            <div class="col-6 col-md-4 justify-content-center">
                <a href="{% url 'index' %}" class="navbar-brand d-inline-block theme-color-black"><h2>BENS <em
                        class="small">Dictionary</em></h2></a>
            </div>
            <div class="col-6 col-md-4">
                <div id="socials">
                    <div class="align-items-center d-flex my-2 justify-content-md-end justify-content-center">
                        <a class="fa-brands fa-linkedin me-2 fs-2 linkedin"
                           href="https://tr.linkedin.com/in/b%C3%BCnyamin-%C3%A7i%C3%A7ek-2b53b4216"></a>
                        <div class="align-items-center d-flex my-2">
                            <a class="fa-brands fa-instagram me-2 fs-2 instagram d-block"
                               href="https://www.instagram.com/bensdictionary/?igshid=ZWIzMWE5ZmU3Zg%3D%3D"></a>
                        </div>
                        <div class="align-items-center d-flex my-2">
                            <a class="fa-brands fa-instagram me-2 fs-2 instagram d-inline-block"
                               href="https://www.instagram.com/bensdictionary/?igshid=ZWIzMWE5ZmU3Zg%3D%3D"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>