{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block content %}
    <div class="container">
        <form method="POST" action="{% url 'search' %}" id="searchBox" class="justify-content-center">
            <div class="row justify-content-md-center mt-5 text-center">
                <div class="col-md-6 px-0 shadow">
                  <div class="resizable-form">
                    <div class="px-0">
                        <div class="input-group">
                            {% csrf_token %}
                            <input type="text" id="search-input" name="search-input" class="theme-text theme-bg-color form-control no-round no-outline no-border top-left-round" placeholder="Sözlükte bir arama yap...">
                            <select name="search-type" id="search-type" class="ps-2 pe-1 no-round no-outline theme-text no-border theme-bg-color" style="">
                                <option value="Tüm Türler" selected class="theme-text theme-bg-color">Tüm Türler</option>
                                <option value="Kelime" class="theme-text theme-bg-color">Kelime</option>
                                <option value="3" class="theme-text theme-bg-color">Cümle</option>
                                <option value="4" class="theme-text theme-bg-color">Sözcük</option>
                            </select>
                            <span class="input-group-btn">
                                <button class="btn btn-default theme-orange no-round top-right-round" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                            </span>
                        </div>
                      </div>
                      <div class="row rounded-bottom">
                          <div class="col-2" id="specialChars" data-text="ç">ç</div>
                          <div class="col-2" id="specialChars" data-text="ğ">ğ</div>
                          <div class="col-2" id="specialChars" data-text="ı">ı</div>
                          <div class="col-2" id="specialChars" data-text="ö">ö</div>
                          <div class="col-2" id="specialChars" data-text="ş">ş</div>
                          <div class="col-2" id="specialChars" data-text="ü">ü</div>
                      </div>
                    </div>
                </div>
            </div>
          </form>
        <section id="infoBox" style="margin-top: 5rem;" class="shadow">
            <div class="infoDiv theme-text">
                <div class=>
                    Sözcükte an itibari ile n adet kategori altında toplam m tane veri bulunmaktadır. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis earum aut consequatur. Ea doloremque laudantium harum atque commodi facilis excepturi?
                </div>
                <hr>
                <div style="margin-top: 1rem;">
                    {% for recentItem in recent %}
                        <a href="{% url 'slugSearch' recentItem.slug %}" class="theme-light-blue">{{ recentItem.title }}</a>
                    {% endfor %}
                </div>
            </div>
        </section>
        {% comment %} <div id="latest-added" class="position-relative w-100 up-scale">
            <hr class="w-75 position-absolute up-scale" style="left:12.5% ;margin-top: 1.7rem;">
            <span class="position-absolute latest-added-text text-center"></span>
        </div> {% endcomment %}
        <div class="row justify-content-evenly align-items-center" style="margin-top: 5rem;">
            <div class="col-8 col-sm-5 col-md-4 col-xl-3 p-1">
                {% include 'dictionary/partials/_idiomOfDay.html' with searchResult=idiomOfDay %}
            </div>
            <div class="col-8 col-sm-5 col-md-4 col-xl-3 p-1">
                {% include 'dictionary/partials/_idiomOfDay.html' with searchResult=proverbOfDay %}
            </div>
            <div class="col-8 col-sm-5 col-md-4 col-xl-3 p-1">
                {% include 'dictionary/partials/_idiomOfDay.html' with searchResult=itwds %}
            </div>
        </div>
{% endblock content %}
{% block page_js %}
<script>
    var copyButtons = document.querySelectorAll("#specialChars");
    function copyText(event) {
      var buttonText = event.target.getAttribute("data-text");
      document.getElementById("search-input").value += buttonText;
    }
    for (var i = 0; i < copyButtons.length; i++) {
      copyButtons[i].addEventListener("click", copyText);
    }
</script>
{% endblock page_js %}