{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block content %}
    <div class="container">
        <form method="POST" action="{% url 'search' %}" id="searchBox" class="justify-content-center">
            <div class="row justify-content-md-center mt-5 text-center">
                <div class="col-md-6 px-0 overflow-hidden shadow">
                    <div class="col-12 px-0">
                        <div class="input-group">
                            {% csrf_token %}
                            <input type="text" id="search-input" name="search-input" class="form-control no-round no-outline no-border top-left-round" placeholder="Sözlükte bir arama yap...">
                            <span class="input-group-btn">
                                <button class="btn btn-default theme-orange no-round top-right-round" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="row rounded-bottom">
                        <div class="col-2" id="specialChars" data-text="ç">ç</div>
                        <div class="col-2" id="specialChars" data-text="ğ">ğ</div>
                        <div class="col-2" id="specialChars" data-text="ı">ı</div>
                        <div class="col-2" id="specialChars" data-text="ö">ö</div>
                        <div class="col-2" id="specialChars" data-text="ş">ş</div>
                        <div class="col-2" id="specialChars" data-text="ü">ü</div>
                    </div>
                </div>
            </div>
          </form>
        <section id="infoBox" style="margin-top: 5rem;" class="shadow">
            <div class="infoDiv">
                <div>
                    Sözcükte an itibari ile n adet kategori altında toplam m tane veri bulunmaktadır. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis earum aut consequatur. Ea doloremque laudantium harum atque commodi facilis excepturi?
                </div>
                <hr>
                <div style="margin-top: 1rem;">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est modi iusto quidem ipsum dolore laborum, illum similique quis sapiente voluptatem.
                </div>
            </div>
        </section>
        <div id="latest-added" class="position-relative w-100 up-scale">
            <hr class="w-50  position-absolute up-scale" style="left: 25%; margin-top: 1.7rem;">
            <span class="position-absolute latest-added-text text-center">En Son Eklenenler</span>
        </div>
        <div class="accordion margin-accordion shadow" id="accordionExample">
            {% include 'dictionary/partials/_structure.html' %}
        </div>
    </div>  

{% endblock content %}
{% block page_js %}
<script>
    var copyButtons = document.querySelectorAll("#specialChars");
    function copyText(event) {
      var buttonText = event.target.getAttribute("data-text");
      document.getElementById("text-input").value += buttonText;
    }
    for (var i = 0; i < copyButtons.length; i++) {
      copyButtons[i].addEventListener("click", copyText);
    }
</script>
{% endblock page_js %}