{% extends 'base.html' %}
{% load static %}
{% block title %}{{ searchQuery }}{% endblock %}
{% block content %}
<div class="container">
    <div class="accordion margin-accordion shadow" id="accordionExample">
        {% for topStructure in topSide %}
            <a href="{% url 'topStructure' %}"> </a>
        {% endfor %}

        {% include 'dictionary/partials/_structure.html' with searchResult=searchResults %}

        {% for downStructure in downSide %}
            <a href="{% url 'downStructure' %}"> </a>
        {% endfor %}
    </div>
</div>
{% endblock content %}