{% extends 'base.html' %}
{% load static %}
{% block title %}{{ searchQuery }}{% endblock %}
{% block content %}
<div class="container">
    <div class="accordion margin-accordion shadow" id="accordionExample">
        {% for topStructure in upperList %}
            <a href="{% url 'slugSearch' topStructure %}">bruh </a>
        {% endfor %}

        {% include 'dictionary/partials/_structure.html' with searchResult=searchResult %}

        {% for downStructure in lowerList %}
            <a href="{% url 'slugSearch' downStructure %}">moment </a>
        {% endfor %}
    </div>
</div>
{% endblock content %}