{% extends 'base.html' %}
{% load static %}
{% block title %}{{ searchInput }}{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="accordion accordion-flush" id="accordionExample">
        {% for topStructure in upperList %}
            <a href="{% url 'slugSearch' topStructure.slug %}" class="accordion-item no-underline">
                <h2 class="accordion-header no-underline" style="opacity: 0.75;" id="">
                    <div class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="" aria-expanded="true" aria-controls="collapseOne">
                        {{ topStructure.turkish }}
                    </div>
                </h2>
            </a>
        {% endfor %}
        {% include 'dictionary/partials/_structure.html' with searchResult=searchResult %}
        {% for downStructure in lowerList %}
        <a href="{% url 'slugSearch' downStructure.slug %}" class="accordion-item no-underline">
            <h2 class="accordion-header no-underline" style="opacity: 0.75;" id="">
                <div class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="" aria-expanded="true" aria-controls="collapseOne">
                    {{ downStructure.turkish }}
                </div>
            </h2>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock content %}