:root {
    --theme-orange-low-opacity: rgba(255,150,0,0.8);
    --theme-orange: rgba(255,150,0,1);
    --theme-orange-dark: rgba(196,116,0,1);
    --theme-orange-dark-low-opacity: rgba(196,116,0,0.8);
    --theme-white: #e0e0e0;
    --theme-full-white: #ffffff;
    --theme-black: #222222;
    --theme-blue: #0069FF;
    --theme-gray: #3b3b3b;

}

body {
    background-color: var(--theme-white);
}

.theme-bg-color {
    background: var(--theme-gray);
    background: linear-gradient(0deg, var(--theme-gray) 0%, var(--theme-black) 100%);
}

.theme-color {
    color: var(--theme-white) !important;
}

.nav-link.theme-color:hover {
    color: var(--theme-orange-dark) !important;
}

.btn-search-theme {
    background-color: var(--theme-orange);
    margin-left: 0px;
    padding: 0;
    width: 2%;
    border: 0;
    right: 0px;
}

.no-round {
    border-radius: 0px !important;
}

.input-search {
    border: 1px solid;
    margin-right: 0px;
    padding: 0;
}

.input-search:focus {
    outline: 0px;
}

#specialChars:nth-child(odd){
    background: var(--theme-orange-low-opacity);
    transition: all 0.5s ease;
}
#specialChars:nth-child(odd):hover{
    background: var(--theme-gray);
    cursor: grabbing;
    color: var(--theme-white) !important;

}


#specialChars:nth-child(even){
    background: var(--theme-orange-dark-low-opacity);
    transition: all 0.5s ease;
}
#specialChars:nth-child(even):hover{
    background: var(--theme-gray);
    cursor: grabbing;
    color: var(--theme-white) !important;
}

.theme-orange {
    background: var(--theme-orange);
}

.btn.theme-orange:hover {
    background-color: var(--theme-orange-dark);
}

.no-outline:focus {
    outline: none !important;
    box-shadow: none;
}

.no-border {
    border: 0px !important;
}

.top-left-round{
    border-top-left-radius: 10px !important;
}

.top-right-round{
    border-top-right-radius: 10px !important;
}

@media screen and (max-width: 768px) {
    #searchBox {
        scale: 100%;
        padding: 0 2rem;
    }
}
@media screen and (min-width: 768px) {
    #searchBox {
        margin-top: 6rem;
        scale: 130%;
    }
}

/* infoBox */

#infoBox {
    background: var(--theme-full-white);
    padding: 1.6rem;
    border: var(--theme-orange) 2px solid;
    border-radius: 2rem;
}

.latest-added-text {
    padding: 0 1rem;
    background-color: var(--theme-white);
    top: 0.2rem;
    left: 50%;
    transform: translateX(-50%);
}

.up-scale {
    transform: scale(2.5);
}
