{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Kanit' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    {% block page_css %}{% endblock page_css %}
    <title>{% block title %}{% endblock title %} | Bens Dictionary</title>
</head>
<body data-theme="light">
    {% include 'partials/_header.html' %}
    {% block content %}{% endblock content %}
    {% include 'partials/_footer.html' %}

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="https://kit.fontawesome.com/f3bbcedb9b.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    {% block page_js %}{% endblock page_js %}
</body>
</html>