<div class="theme-orange-to-gray-gradient hyper-round">
    <div class="theme-bg-white m-1 hyper-round">
        <span class="over-content-header theme-text">Günün Seçileni</span>
        <div class="px-3 pb-3">
            <span class="theme-text">Türkçe</span><br>
            <span class="p-1">{{ searchResult.turkish }}</span>
            <hr class="text-center">
            <span class="theme-text">İngilizce</span><br>
            <span class="p-1">{{ searchResult.english }}</span>
            <hr class="text-center">
            <span class="theme-text">İngilizce Açıklama</span><br>
            <span class="p-1">{{ searchResult.description }}</span>
            <hr class="text-center">
            <span class="theme-text">Ekstra Bilgi</span><br>
            <span class="p-1">{{ searchResult.extraInformation }}</span>
            <hr class="text-center">
            <span class="theme-text">Örnek</span><br>
            <span class="p-1">{{ searchResult.example }}</span>
            <hr class="text-center">
            <span class="theme-text">Etimoloji</span><br>
            <span class="p-1">{{ searchResult.etymology }}</span>
        </div>
    </div>
</div>