{% if not noResult %}

<div class="accordion-item shadow my-0">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button theme-bg-green" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" data-bs-parent="#accordionExample">
        {{ searchResult.turkish }}
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body theme-bg-color theme-text">
        <span class="theme-text">Türkçe</span><br>
        <span class="p-3">{{ searchResult.turkish }}</span>
        <hr class="text-center">
        <span class="theme-text">İngilizce</span><br>
        <span class="p-3">{{ searchResult.english }}</span>
        <hr class="text-center">
        <span class="theme-text">İngilizce Açıklama</span><br>
        <span class="p-3">{{ searchResult.description }}</span>
        <hr class="text-center">
        <span class="theme-text">Ekstra Bilgi</span><br>
        <span class="p-3">{{ searchResult.extraInformation }}</span>
        <hr class="text-center">
        <span class="theme-text">Örnek</span><br>
        <span class="p-3">{{ searchResult.example }}</span>
        <hr class="text-center">
        <span class="theme-text">Etimoloji</span><br>
        <span class="p-3">{{ searchResult.etymology }}</span>
        <a type="button" class="theme-text d-block text-end" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          Düzeltme öner...
      </a>
      </div>
    </div>
  </div>

  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">"{{ searchResult.turkish }}" düzeltmesi</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="{% url 'correct' searchResult.slug %}" method="POST">
                {% csrf_token %}
                <div class="p-2 row justify-content-evenly">
                    <div class="col-6"><input class="form-control" type="text" name="corrector" placeholder="İsminiz" required></div>
                    <div class="col-6"><input class="form-control" type="email" name="corrector_mail" placeholder="E-Mail Adresiniz" required></div>
                    <div class="col-12 mt-3"><textarea class="form-control" name="correction" id="" cols="30" rows="10" placeholder="Düzeltmeniz"></textarea></div>
                    <div class="col-5"><input type="text" name="iamhuman" class="form-control my-4" placeholder="Türkiye'nin başkenti"></div>
                </div>
            </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
            <button type="submit" class="btn btn-primary">Gönder</button>
        </form>
        </div>
        </div>
    </div>
    </div>
{% else %}
  <div class="container">
    <div class="display-2 text-center p-5">
      Sonuç Bulunamadı
    </div>
  </div>
{% endif %}

